@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  text-align: center;
  color: #2B2A2A;
}

input:focus {
  outline: none;
}

footer {
  margin-top: 10%;
  width: 100%;
  text-align: center;
  color: #000000;
}

.margin {
  margin-bottom: 300px;
}

footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer > div > p {
  align-items: center;
  color: #000000;
}

aside {
  margin-bottom: 0%;
}

article {
  width: 100%;
  height: 40%;
  background-color: #2B2A2A;
}

/*********************************  Main2  ******************************************/
.all_btn {
  cursor: pointer;
}

.all_btn_hover:hover {
  background-color: rgb(107, 104, 255);
}

.Main2_root {
  color: black;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 7%;
  background-color: #2B2A2A;
}

.Main2_header {
  height: 6vh;
  min-height: 50px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  border-bottom: 2px solid white;
  position: relative;
}

.Main2_header > button {
  min-width: 110px;
  width: 10%;
  height: 90%;
  color: white;
  background-color: #282828;
}

.header_rogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 3%;
  margin-right: 15%;
}

.header_rogo > p {
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 45%;
  margin-left: 48%;
  transform: translate(-50%, -50%);
}

.margin_top {
  margin-top: 20vh;
}

.form_main2 {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.main_title {
  width: 100%;
  height: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-bottom: 5%;
}

.main_title > input {
  width: 80%;
  height: 100%;
  min-width: 150px;
  max-width: 450px;
  border: 2px solid black;
  border-radius: 10px;
}

.main_title > p {
  color: black;
}

.title_input, .img_select {
  width: 80vw;
  height: 4vh;
}

.img_select {
  margin-top: 2vh;
}

.queze_list {
  margin-left: 1vw;
  width: 98vw;
  max-width: 98%;
}

.queze_list {
  display: grid;
  gap: 10px;
  justify-items: center;
}

.queze_list {
  grid-template-columns: repeat(5, minmax(100px, 400px));
}

.queze_list > input {
  color: white;
  text-align: center;
  cursor: pointer;
}

.Main2_sumit_btn {
  width: 100%;
  height: 5%;
  text-align: center;
  margin-top: 2%;
}

.Main2_sumit_btn > input {
  width: 20%;
  min-width: 100px;
  max-width: 150px;
  border-radius: 10px;
  height: 100%;
  cursor: pointer;
}

.plus_queze {
  border: 2px solid black;
  background-color: #282828;
  margin-top: 2.5%;
  max-width: 400px;
}

.plus_queze > img {
  width: 300px;
  height: 180px;
  object-fit: scale-down;
}

.plus_queze > div {
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.plus_queze > div > p {
  width: 100%;
  height: 40%;
}

.plus_queze > div > div {
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.plus_queze > div > div > input, .plus_queze > div > div > button {
  width: 40%;
  height: 90%;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
}

/***************************************************************************/
/*------------------main2_A_queze-----------------------------*/
.Main_root_ {
  width: 100%;
  height: 100%;
}

.Main2_a_queze_root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
}

.main2_a_queze_btn_area {
  width: 100%;
  height: 40px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  position: static;
  margin-bottom: 50px;
}

.main2_a_queze_btn_area > button {
  width: 20%;
  height: 100%;
  min-width: 100px;
  max-width: 150px;
  background-color: rgb(159, 159, 159);
  cursor: pointer;
  border-radius: 10px;
  margin-right: 1%;
  margin-left: 1%;
}

.drag_area {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  overflow-x: scroll;
  z-index: 1;
}

.drop_area {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

.drag {
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  background-color: white;
}

.drag > img {
  width: 300px;
  height: 250px;
  object-fit: scale-down;
  color: black;
  border-top: 2px solid black;
}

.drag > p {
  color: #000000;
}

.drop {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.drop_rank {
  color: #000000;
}

.drop > img {
  width: 300px;
  height: 250px;
  object-fit: scale-down;
}

.drop > p {
  color: #282828;
  margin-left: 5%;
}

.queze_area {
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a_queze_img {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  border: 2px solid black;
}

.a_queze_img > button {
  position: absolute;
  color: #000000;
}

.a_queze_img > img {
  width: 400px;
  height: 400px;
  object-fit: scale-down;
}

.a_queze_img > textarea {
  color: #000000;
}

.drop_img_area {
  width: 95%;
  height: 40%;
  margin-left: 2.5%;
  border: 2px black solid;
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

.drop_img_area > input {
  width: 100%;
  height: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.drop_img_area > p {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  color: black;
}

.drop_img_area > div {
  background-color: white;
  width: 100%;
  height: 50%;
  border-top: 2px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.drop_img_area > div > p {
  color: #000000;
}

.result_area {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.result_area > img {
  width: 300px;
  height: 250px;
  object-fit: scale-down;
  border: #000000 solid 2px;
}

.result_area > p {
  color: #000000;
  display: flex;
  margin-left: 1%;
  margin-top: 0.1%;
}

.comment_area {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.comment_area > div {
  width: 80%;
  max-width: 670px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.comment_area > div > input {
  border-radius: 10px;
  height: 100%;
  width: 90%;
  color: black;
}

.comment_area > div > button {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 10px;
}

.children_comment_area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.children_comment_area > form {
  width: 80%;
  max-width: 670px;
  margin-top: 1%;
  align-items: center;
  justify-content: center;
}

.children_comment_area > form > .value {
  width: 90%;
  min-width: 210px;
  max-width: 645px;
  border-bottom: 2px solid black;
}

.children_comment_area > form > .button {
  width: 25px;
  height: 25px;
  background-color: #000000;
  color: white;
  border-radius: 10px;
}

.children_comment {
  margin-top: 1%;
  width: 80%;
  max-width: 670px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.children_comment > p {
  color: #000000;
}

.children_comment > .value {
  width: 93%;
  max-width: 645px;
}

.children_comment > .likes {
  margin-right: 1%;
  width: 7%;
  text-align: right;
}

.children_comment > img {
  width: 25px;
  height: 25px;
  background-color: #000000;
}

/*----------icon--logo------------------*/
/*-----------------학교 찾는 창 3333333333333333333333333333-----*/
/*----------------------------------------------*/
@media (min-width: 1800px) {
  .submit_btn {
    width: 40%;
  }
  header > div {
    width: 22%;
  }
  .Input_basic {
    width: 70%;
  }
  .queze_list {
    border: 1px red solid;
    display: grid;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 300px;
    gap: 10px;
  }
}
@media (min-width: 1400px) and (max-width: 1799px) {
  .content_area {
    width: 30vw;
    margin-left: 35vw;
  }
  .Input_basic {
    width: 70%;
  }
  .Queze_li {
    width: 30vw;
  }
  header > div {
    width: 25%;
  }
  .Popup_main_content {
    width: 25%;
    height: 30%;
    margin-left: 37.5%;
    margin-top: 15%;
  }
  .queze_list {
    grid-template-columns: repeat(5, minmax(100px, 400px));
  }
}
@media (min-width: 1300px) and (max-width: 1399px) {
  .content_area {
    width: 40vw;
    margin-left: 30vw;
  }
  .Input_basic {
    width: 70%;
  }
  .Queze_li {
    width: 40vw;
  }
  header > div {
    width: 25%;
  }
  .Popup_main_content {
    width: 25%;
    height: 30%;
    margin-left: 37.5%;
    margin-top: 15%;
  }
  .queze_list {
    grid-template-columns: repeat(4, minmax(100px, 400px));
  }
}
@media (min-width: 1024px) and (max-width: 1299px) {
  .content_area {
    width: 40vw;
    margin-left: 30vw;
  }
  .Input_basic {
    width: 70%;
  }
  .Queze_li {
    width: 40vw;
  }
  header > div {
    width: 35%;
  }
  .Popup_main_content {
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top: 20%;
  }
  .queze_list {
    grid-template-columns: repeat(3, minmax(100px, 500px));
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  .content_area {
    width: 50vw;
    margin-left: 25vw;
  }
  .queze_list {
    grid-template-columns: repeat(3, minmax(100px, 400px));
  }
  .Input_basic {
    width: 70%;
  }
  .Queze_li {
    width: 50vw;
  }
  header > div {
    width: 42%;
  }
  .Popup_main_content {
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top: 25%;
  }
}
@media (min-width: 720px) and (max-width: 959px) {
  .content_area {
    width: 50vw;
    margin-left: 25%;
  }
  .Input_basic {
    width: 70%;
  }
  .Queze_li {
    width: 50vw;
  }
  header > div {
    width: 45%;
  }
  .Popup_main_content {
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top: 25%;
  }
  .queze_list {
    grid-template-columns: repeat(2, minmax(100px, 500px));
  }
}
@media (min-width: 535px) and (max-width: 719px) {
  .content_area {
    width: 70%;
    margin-left: 15%;
  }
  .queze_list {
    grid-template-columns: repeat(2, minmax(100px, 380px));
  }
  .plus_queze { /*Main2 */ }
  .Input_basic {
    width: 70%;
  }
  .Queze_li {
    width: 70vw;
  }
  header > div {
    width: 50%;
  }
  .Popup_main_content {
    width: 45%;
    height: 30%;
    margin-left: 27.5%;
    margin-top: 30%;
  }
}
@media (min-width: 335px) and (max-width: 534px) {
  .content_area {
    width: 100vw;
    margin: 0;
    border: 0;
  }
  .queze_list {
    grid-template-columns: repeat(1, 100%);
  }
  .plus_queze { /*Main2 */ }
  .Input_basic {
    width: 70%;
  }
  .Queze_li {
    width: 100vw;
    height: 32vh;
  }
  header > div {
    width: 60%;
  }
}

/*# sourceMappingURL=css.css.map */
