@import './media.scss';

*{
    margin : 0;
    padding: 0;
    border: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.root_h1 {
    display: hidden;
}
canvas  {
    display:none ;
}
input {
    text-align: center;
    color: #2B2A2A;
}
input:focus {
    outline: none;
}

footer {
    margin-top: 100%;
    width: 100%;
    text-align: center;
    color: #000000;
}
.margin {
    margin-bottom: 300px;
}
footer > div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer > div:nth-child(1) > p{
    align-items: center;
    color: #000000;
}
footer > div:nth-child(2){
    display: flex;
    flex-direction: column;
    
}
footer > div:nth-child(2) > li, footer > div:nth-child(2) > li > ul{
    align-items: center;
    color: #000000;
}
aside {
    margin-bottom: 0%;  
}
article { // min2 소개 페이지
    width: 100%;
    height: 40%;
    background-color: #2B2A2A;
}
/*********************************  Main2  ******************************************/
//공통 요소
.all_btn {
    cursor: pointer;
}
.all_btn_hover:hover {
    background-color: rgb(107, 104, 255);
}
//asd
.Main2_root{
    color: black;
    // width: 100vw;
    height: 100vh;
    align-items: center;
    // justify-content: center;
    display: flex;
    flex-direction: column;
}
.Main2_toogle {
    height: 30px;
    width: 120px;
    background-color: white;
    color: #000000;
    border-radius: 10px;
    margin-left: 3%;
}
//header main2=-------
header {
    width: 100%;
    height: 7%;
    // background-color: #2B2A2A;
}
.Main2_header {
    height: 6vh;
    min-height: 50px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    border-bottom: 1px solid rgb(239, 239, 239);
    position: relative;
    
} 
.Main2_header > button {
    // margin-left: auto;
    // min-width: 110px;
    // width: 10%;
    height: 90%;
    margin-right: 3%;
    // border: 2px solid black;
    // color: white;
    color: #000000;
    background-color: white;
    // background-color:#282828;
}
.header_rogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 3%;
    margin-right: 15%;
}
.header_rogo > p {
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 45%;
    margin-left: 48%;
    transform: translate(-50%,-50%);
    color: #000000;
}
//------------까지
.margin_top {
    margin-top: 20vh;
}
.form_main2 {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: relative;
    // background-color: #5c6aff;
}
.form_main2 > button {
    position: absolute;
    right: 2.5%;
    width: 30px;
    height: 30px;
    z-index: 11;
}
.main_title { // 문제 제목, 기본 이미이 선택 창 root
    width: 100%;
    height: 5%;
    // background-color: blue;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-bottom: 5%;
}
.main_title > input {
    width: 80%;
    height:  100%;  
    min-width: 150px;
    max-width: 450px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    color: #000000;
}
.main_title > p {
    color: black;
}
.label {
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    position: relative;
}
.label > p {
    width: 30%;
    height: 100%;
    color: #000000;
    font-size: 14px;
    align-items: center;
    display: flex;
}

.label > span {
    z-index: 2;
}
.title_input, .img_select {
    width: 80vw;
    height: 4vh;
    // background-color: #5c6aff;
}
.title_input {
    // 제목 입력 창
}
.img_select {
    margin-top: 2vh;
}
.queze_list {
    margin-left: 1vw;
    width: 98vw;
    max-width: 98%;
}
.queze_list { // main2 문제 
    // border: 1px red solid;
    display: grid;
    // grid-template-rows: repeat(auto-fill,240px);
    gap: 10px;
    justify-items: center;
}
.queze_list {
    grid-template-columns: repeat(5,minmax(100px,400px));
}
.queze_list > input {
    color: white;
    text-align: center;
    cursor: pointer;
}
.Main2_sumit_btn { // queze_list > input submi
    width: 100%;
    height: 5%;
    text-align: center;
    margin-top: 2%;
}
.Main2_sumit_btn > input {
    width: 20%;
    min-width: 100px;
    max-width: 150px;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
}
.plus_queze { // queze_list >
    // width: 40%;
    // height: 20%;
    // min-width: 300px;
    // min-height: 200px;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    margin-top: 2.5%;
    max-width: 400px;

}
.plus_queze > img {
    width: 300px;
    height: 180px;
    object-fit: scale-down;

}
.plus_queze > div {
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
}
.plus_queze > div > p {
    width: 100%;
    height: 60%;
    color: #000000;
}
.plus_queze > div > div {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.plus_queze > div > div > input, .plus_queze > div > div > button {
    width: 40%;
    height: 90%;
    background-color:rgb(239, 239, 239);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}
.plus_queze > div > div > svg {
    width: 25px;
    height: 25px;
}
.make_queze { //make queze 사진 부모
    
}
//**************************password_popup**********************************
.password_popup_root {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(194, 194, 194,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
}
.password_popup_root > section {
    width: 40%;
    height: 40%;
    min-width: 280px;
    min-height: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.password_popup_root > section > button {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    font-size: 18px;
    background-color: white;
    color: #000000;
}
.password_popup_root > section >p {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #000000;
    margin-top: 10%;
    text-align: center;
}
.password_popup_root > section  > input {
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;

}
.password_popup_root > section  > input:nth-child(3) {
    width: 240px;
    height: 40px;
    // margin-top: 20%;
    
}
.password_popup_root > section  > input:nth-child(4) {
    width: 120px;
    height: 30px;
    margin-top: 10%;
}
/***************************************************************************/
/*------------------main2_A_queze-----------------------------*/ //웨에 #root
.Main_root_ {
    width: 100%;
    height: 100%;
}
.Main2_a_queze_root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    // height: 5%;
    // height: 100vh;   
    max-width:100%;
    // max-height: 100%;    
    // overflow-y: scroll;
}
.Main2_a_queze_header {
    display: flex;
    align-items: center;
    // justify-content: center;
    // margin-top: 1%;
    height: 35px;
    border-bottom: 1px solid rgb(239, 239, 239); 
    position: relative;   
}
.make_modify_header {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;

}
.tier_line {
    width: 30px;
    height: 285px;
}
.Main2_a_queze_section {
    display: flex;
    flex-direction: row;
}
.initialization_btn{
    margin-left: 3%;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color: #000000;
    background-color: white;
    border: 1px rgb(239, 239, 239) solid;
}
.a_queze_title{
    color: #000000;
    width: 200px;
    height: 40px;
    text-align: center;
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.make_modify_header > h3 {
    color: #000000;
}
.Main2_header2 {
    display: flex;
    align-items: center;
    margin-top: 7px;

}
.Main2_header2 > h1 {
    color: #000000;
    font-size: 14px;
    width: 100%;
    text-align: center
    ;
}
.main2_header_btn  {
    width: 30px;
    height: 21.5px;
    
    // border-radius: 10px;
}
.a_queze_header_btn {
    // width: 180px;
    height: 21px;
    background-color: white;
    color: #000000;
    margin-left: 3%;
    display: flex;
    align-items: center;
}
.Main2_a_queze_header_input {
    width: 300px;
    height: 20px;
    border: rgb(239, 239, 239) solid 1px;
    margin-left: 3%;
}
.main2_a_queze_btn_area {
    width: 100%;
    height: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    position:static;
    margin-bottom: 50px;
    // overflow-y: scroll;
}
.main2_a_queze_btn_area > button {
    width: 20%;
    height: 100%;
    min-width: 100px;
    max-width: 150px;
    background-color: rgb(159, 159, 159);
    cursor: pointer;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 1%;
}
.drag_area {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    overflow-x: scroll;
    z-index: 1;
    background-color: white;

    // box-shadow: 5px 5px 5px 5px #000000 inset;

}
.drop_area{
    display: flex;
    flex-direction: row;
    background-color: rgba($color: #000000, $alpha: 0);
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-color: black;

} // drag 이미지가 vw를 넘으면 x scroll 가능 하게 구현 하기
.drop_area::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;

}
.drop_area::-webkit-scrollbar-track{
    background: white;
}
.drop_area > p {
    color: white;
    font-size: 16px;
    width: 3%;
    min-width: 3%;
}
.drag{
    // width: 300px;
    // height: 250px;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    // background-color: white;
}
.drag_img {
    // width: 100px;
    // height: 80px;
    // width: 300px;
    // height: 250px;
    object-fit: scale-down;
    color: black;
    border-top: 2px solid black;
    // background-color: white;
}
.drag > p {
    color: #000000;
    // width: 100%;
    // height: 20%;
}
.drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0);
    z-index: 1;
    position: relative;
    // margin-left: 3%;
}
.drop_rank {
    color: #000000;
    margin-left: 3%;
    height: 35px;
    align-items: center;
    display: flex;
    font-size: 16px;
}
.drop > img {
    width: 300px;
    height: 250px;
    object-fit: scale-down;
}
.drop > p {
    color: #282828;
    margin-left: 5%;
    
}
.drop > button {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #000000;
    left: 300px;
    transform: translate(-100%);
}
//------------------------Main2_make_queze-----------------------------
.queze_area {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.make_queze_guide_input {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #000000;
    font-size: 12px;
    z-index: 11;
}
.a_queze_img {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    position: relative;
    // border: 1px solid rgb(239, 239, 239);

} // 이미지 왼쪽 텍스트 오른쪽 으로 바꾸고 
// 텍스트 줄 넘으면 height 간격늘리면서 쓰게하기
// aqueze img 는 왼쪽 정렬
.a_queze_img > input {
    position: absolute;
    right: 0;
    color: #000000;
    width: 20px;
    height: 20px;
    justify-content: center;
    display: flex;
    // right: 0;
}
.a_queze_img > img {
    width: 400px;
    height: 400px;
    object-fit: scale-down;
}
.a_queze_img > textarea {
    width: 400px;
    height: 80px;
    color: #000000;
    background-color: rgb(239, 239, 239);
    margin-top: 30px;
}
.drop_img_area {
    width: 95%;
    height: 40%;
    margin-left: 2.5%;
    // margin-bottom: %;
    border: 1px rgb(239, 239, 239) solid;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}
.drop_img_area > input {
    width: 100%;
    height: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.drop_img_area > p {
    position: absolute;
    left: 50%; 
    top: 25%;
    transform: translate(-50%);
    // width: 100%;
    color: #000000;
}
.drop_img_area > div {
    background-color: white;
    width: 100%;
    height: 50%;
    border-top: 1px solid rgb(239, 239, 239);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.drop_img_area > div > p {
    color: #000000;
}
// .tier1, .tier2, .tier3 .tier4 .tier5 {
//     color: white;
//     font-size: 16px;
// }
.tier1{
    background-color: rgb(99, 130, 255);
}
.tier2{
    background-color: rgb(102, 255, 99);
}
.tier3{
    background-color: rgb(255, 229, 97);
}
.tier4{
    background-color: rgb(75, 75, 75);
}
.tier5{
    background-color: rgb(0, 0, 0);
}
//     reslur page /////////////////////////////////////////////////////
.result_area {
    // width: 100%;
    display: flex;
    flex-direction: row;
    // margin-top: 2%;
}
.result_area > h3 {
    width: 30px;
    // height: 100%;
}
.result_area > h3 > p {
    color: white;
    margin-top: 2%;

}
.result_area > img {
    width: 300px;
    height: 250px;
    object-fit: scale-down;
    margin-bottom: 2%;
    // border: #000000 solid 2px;
}
.result_area > h4 {
    color: #000000;
    margin-left: 3%;
    margin-top: 2%;
}
.result_area > p {
    color: #000000;
    display: flex;
    margin-left: 1%;
    margin-top: 2.1%;
    // align-items: center;
}
.comment_area {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    // justify-items: center;    
}
.comment_area > div {
    width: 80%;
    max-width: 670px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
}
.comment_area > div > input {
    border-radius: 10px;
    height: 100%;
    width: 90%;
    color: black;

}

.comment_area > div > button {
    // margin-left: 1%;
    // margin-right: 1%;
    // max-width: 110px;
    // min-width: 95px;
    width: 30px;
    height: 30px;
    background-color: rgb(181, 181, 181);
    border-radius: 10px;
}
.children_comment_area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.children_comment_area > form {
    width: 80%;
    max-width: 670px;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
}
.children_comment_area > form > .value {
    width: 90%;
    min-width: 210px;
    max-width: 645px;
    border-bottom: 2px solid black;
}
.children_comment_area > form > .button {
    width: 25px;
    height: 25px;
    background-color: #000000;
    color: white;
    border-radius: 10px;
}
.children_comment {
    margin-top: 2%;
    width: 80%;
    max-width: 670px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    // border: 2px solid black;

}
.children_comment > p {
    color: #000000;
}
.children_comment > .value {
    width: 93%;
    max-width: 645px;
}
.children_comment > .likes {
    margin-right: 1%;
    width: 7%;
    text-align: right;
}
.children_comment > .title {
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 14px;
    color: #000000b8;
}
.children_comment > img {
    width: 40px;
    height: 40px;
    // background-color: #000000;
    background-image: url('./Img_folder/likes.svg');
    background-size: 100%;
}
.children_comment > svg {
    width: 25px;
    height: 25px;
}
.result_title {
    color: #000000;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-top: 3%;
    margin-bottom: 3%;

}
/*-----------------------loading popup-----------------------*/
.loading_popup{
    position: fixed;
    z-index: 12;
    width: 80vw;
    height: 80vh;
    max-width: 80%;
    max-height: 80%;
    margin-left: 10%;
    background-color: white;
    border: solid rgb(239, 239, 239) 1px;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading_popup > p {
    color: #000000;
    
}
.loading_popup > button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin-top: 3%;
    color: #000000;
}
//------------------choose_queze_typr------------------
.Choose_queze_type_root {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.589);
    position: relative;
}
.choose_queze_type_adfit_area {
    position: absolute;
    left: 0;
}
.choose_queze_type_adfit_area2 {
    position: absolute;
    right: 0;
}
.Choose_queze_type_root > h1 {
    position: absolute;
    color: #000000;
    top: 0%;
    z-index: 1;
}
.Choose_queze_type_section{
    min-width: 320px;
    min-height: 610px;
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
.Choose_queze_type_section > button {
    position: absolute;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
    transform: translate(-50%,-50%);
    left: 50%;
    z-index: 1;
}
.Choose_queze_type_section > button:nth-child(1) {
    top: 25%;
}
.Choose_queze_type_section > button:nth-child(2) {
    top: 75%;
}
.Choose_queze_type_section > img {
    width: 100%;
    height: 50%;
    object-fit:contain;
}
.Choose_queze_type_section_oneandone {
    min-width: 320px;
    min-height: 610px;
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.Choose_queze_type_section_oneandone > button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
    z-index: 1;
    margin-top: 3%;
}
//---------------------oneandone---------------------------------------//
.oneandone_root {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.oneandone_title {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    color: #000000;
    z-index: 1;
    background-color: white;
}
.oneandone_root > h2 {
    position: absolute;
    color: #000000;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background-color: white;
}
.oneandone_root > section{
    width: 100%;
    height: 100%;
    position: relative;
}
.oneandone_root > section > p {
    color: #000000;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    background-color: white;
}
.oneandone_root > section > img {
    object-fit:contain;
    width: 100%;
    height: 100%;
    // border: 1px solid white;
}
.oneandone_root > section > img:hover {
    // border: 1px solid rgb(107, 104, 255);
    background-color: rgb(107, 104, 255);
}
//-----------------explain popup------------
.explain_popup_root{
    position: absolute;
    transform: translate(0%,-50%);
    z-index: 1;
    background-color: #000000;
    border: 1px solid rgb(239, 239, 239);
}
.explain_popup_root > p {
    color: white;
    font-size: 12px;
}
//---------guide_popup-----------------------------------------
.guide_popup_root {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(0, 0, 0,0.5);
    position: fixed;
    z-index: 12;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.guide_popup_root > button {
    position: absolute;
    
}
.guide_popup_root > section {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow-y: scroll;
    position: relative;
}
.guide_popup_root > section > button {
    position: fixed;
    top : 10%;
    right: 10%;
    color: white;
    border: 1px solid rgb(239, 239, 239);
    width: 30px;
    height: 30px;
    color: #000000;
    transform: translate(-50%,50%);
}
.guide_popup_root > section > div  {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 50%;
    align-items: center;
    margin-bottom: 5%;
}
.guide_popup_root > section > div > p {
    color: #000000;
}
.guide_popup_root > section > div > img {
    object-fit: scale-down;
}
.guide_popup_root > section > div > h1 {
    margin-top: 3%;
    color: #000000;
}
.bord {
    font-size: 14px;
}
//-------------------------------------make_quezeshow------------------------
.make_quezeshow_root {
    width: 100vw;
    // height: 100vh;
    // max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.make_quezeshow_queze_title {
    width: 80%;
    height: 4%;
    min-width: 150px;
    min-height: 30px;
    max-width: 450px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    color: #000000;
    margin-top: 3%;

}
.make_quezeshow_addbtn{
    width: 40px;
    height: 40px;
    min-height: 40px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 5%;
}
.make_quezeshow_submintbtn {
    width: 60px;
    height: 30px;
    min-height: 30px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 90px;
}
//---------------------------------Make_quezeshow_content_root------------------------
.make_quezeshow_content_root {
    width: 400px;
    // height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3%;
}
.make_quezeshow_content_file {
    width: 100%;
    // height: 5%;
    height: 30px;
    margin-top: 10px;
    // display: none;
}
.make_quezeshow_content_label {
    width: 100%;
    margin-left: 0px !important;
    margin-top: 10px;
}
.make_quezeshow_content_label > div {
    width: 100%;
    height: 20px;
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px !important;
    z-index: 1;
    display: flex;
    position: inherit;
}
.make_quezeshow_content_file_onpaste {
    width: 100%;
    height: 20px;
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px !important;
}
.make_quezeshow_content_file_onpaste {
    // margin-top: 10px;
}
.make_quezeshow_content_file_onpaste > p, .make_quezeshow_content_label > div{
    color: #000000a5;
    font-size: 13px;
}
.make_quezeshow_content_img {
    width: 100%;
    // height: 60%;
    height: 300px;
    object-fit: scale-down;
}
.make_quezeshow_content_deletebtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 30px;

}
.Make_quezeshow_content_title {
    width: 100%;
    // height: 5%;
    margin-top: 10px;
    height: 20px;
    border: 1px solid rgb(239, 239, 239);
}
.Make_quezeshow_content_text {
    margin-top: 10px;
    width: 100%;
    // height: 5%;
    height: 20px;
    border: 1px solid rgb(239, 239, 239);
}
//----------------------------quezeshow_main---------------------
.quezeshow_main_root {
    
}
.quezeshow_main_space_title{
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: #000000;
    margin-bottom: 1%;
}
.quezeshow_main_space_intro_text {
    width: 100%;
    text-align: center;
    color: #000000;
    margin-bottom: 3%;
}
//------------------------Quezeshow_queze------------------------
.quezeshow_queze_root {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.shar_popup_section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    background-color: #00000041;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shar_popup_section > section {
    width: 60%;
    height: 70%;
    background-color: #282828;

}
.quezeshow_queze_root > h1 {
    font-size: 18px;
    color: #000000;
}
.quezeshow_queze_leftbtn, .quezeshow_queze_rightbtn {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quezeshow_queze_leftbtn {
    left: 5px;
}
.quezeshow_queze_rightbtn {
    right: 5px;
}
.quezeshow_queze_submitbtn {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}
.quezeshow_after_submit_root {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.quezeshow_after_submi_comment_area {
    width: 57%;
}
.quezeshow_after_submit_comment_root {
    width: 57%;
    margin-left: 43%;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.quezeshow_after_submit_submited_object {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
    margin-top: 5%;

}
.quezeshow_after_submit_submited_object > img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}
.quezeshow_after_submit_submited_object > p {
    color: #000000;
    // width: 300px;
}
.quezeshow_after_submit_submited_object_title {
    // height: 10px;
}
.quezeshow_after_submit_submited_object_text {
    // height: 10px;
}
//-----------------------------------quezeshow_queze_content-------------------------
.quezeshow_queze_content_root {
    width: 300px;
    // height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    // border: 1px solid rgb(239, 239, 239);
    background-color: white;
    position: relative;
    margin-top: 30px;
    border: 1px solid rgb(239, 239, 239);
}
.quezeshow_queze_content_root > h1 {
    font-size: 16px;
    color: #000000;
    position: absolute;
    left: -30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // background-color: rgb(239, 239, 239);
    text-align: center;
}
.quezeshow_queze_content_root > .img_area {
    width: 300px;
    height: 300px;
    position: relative;
}
.quezeshow_queze_content_root  > img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}
.quezeshow_queze_content_root > .img_area > img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    position: absolute;
    z-index: 1;
    left: 0;
}
.quezeshow_queze_content_root > .img_area > div, .quezeshow_queze_content_value_p > div, .quezeshow_queze_content_title_text_area > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(147, 147, 147, 0.621);
    z-index: 0;
}
// .quezeshow_queze_content_title{
//     font-size: large;
// }
.quezeshow_queze_content_value_p {
    height: 40px;
    position: relative;
    width: 100%;
}
.quezeshow_queze_content_value_p > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000000;
    z-index: 1;
    font-size: larger;
}
.quezeshow_queze_content_title_text_area {
    height: 60px;
}
.quezeshow_queze_content_title_text_area > P {
    color: #000000;
    position: absolute;
    z-index: 1;
    transform: translate(-50%);
}
.quezeshow_queze_content_title_text_area > P:nth-child(2) {
    margin-top: 30px;
}
.quezeshow_queze_content_title, .quezeshow_queze_content_text {
    color: #000000;
}
/*-------------------------------quezeshow_result_root-----------------------------------------*/
.quezeshow_result_root {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.quezeshow_result_root > .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quezeshow_result_root > .comment {
    width: 50%;


}
/*----------------------------------------------*/
//------------------------community_root------------------------------/
.community_root {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
}
.community_root > h1 {
    color: #000000;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-top: 1%;
}
/*------------------------------------Make_space---------------------------------*/
.make_space_section {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.make_space_section > img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    margin-bottom: 50px;
}
.make_space_section > div {
    height: 30px;
    display: flex;
    align-items: end;
    margin-top: 40px;
}
.make_space_section > div > p{
    color: #00000086;
    font-size: 12px;
}
.make_space_section > .img {
    width: 300px;
}
.make_space_section > .pass {
    width: 350px;
    position: relative;
}
.make_space_section > .pass > section {
    position: absolute;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    top: -50px;
    left: 90px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
    padding: 8px;
    user-select: none;
    display: flex;
    align-items: center;
}
.make_space_section > .pass > section > p{
    color: #00000086;
    font-size: 12px;
}
.make_space_section > .file {
    width: 300px;
}
.make_space_section > .file:nth-child(3) {
    width: 300px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(239, 239, 239);
}
.make_space_section > .text {
    width: 350px;
    height: 30px;
    border: 1px solid rgb(239, 239, 239);
    // margin-top: 20px;
}
.make_space_section > .introduce_text {
    width: 350px;
    height: 80px;
    border: 1px solid rgb(239, 239, 239);
    color: #000000;
    resize: none;
}
/*-----------------space---------------*/
.space_explain_text {
    font-size: 18px;
    color: #000000;
    width: 100%;
    text-align: center;
}
// 데스크탑
@include desktop {
    .content_area {
        //width: 40%;
        //background-color: rgb(255, 0, 0);
    }
    .Q_area {

    }
    .submit_btn {
        width: 40%;
    }
    header > div {
        width: 22%;
    }
    .Input_basic {
        width: 70%;
    }
    .queze_list { // main2 문제 
        border: 1px red solid;
        display: grid;
        grid-template-columns: 100px 200px 300px;
        grid-template-rows: 300px;
        gap: 10px;
    }
    // make queze
    .main_title {
        height: 4%;
    }
    .drop_img_area{
        height: 50%;
    }
    .Main2_sumit_btn{
        height: 6%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 40%;
        margin-left: 30%;
    }
    // 여기 까지
    //---------------------------------------
}
@include desktopToLaptop2 {

    .content_area {
        width: 30vw;
        //margin-left: 35%;
        //background-color: rgb(255, 145, 0);
        margin-left: 35vw;
    }
    .Input_basic {
        width: 70%;
    }
    // .plus_queze {
    //     width: 40%;
    //     height: 60%;
    // }
    .Queze_li {
        width: 30vw;
    }
    header > div {
        width: 25%;
    }
    .Popup_main_content {
        width: 25%;
        height: 30%;
        margin-left: 37.5%;
        margin-top: 15%;
    }
    .queze_list {
        grid-template-columns: repeat(5,minmax(100px,400px));
    }
    // make queze
    .main_title {
        height: 4%;
    }
    .drop_img_area{
        height: 50%;
    }
    .Main2_sumit_btn{
        height: 7%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 40%;
        margin-left: 30%;
    }
    // 여기 까지
    //---------------------------------------
}

// 노트북에서 데스크탑
@include desktopToLaptop {

    .content_area {
        width: 40vw;
        //margin-left: 35%;
        //background-color: rgb(255, 145, 0);
        margin-left: 30vw;
    }
    .Input_basic {
        width: 70%;
    }
    .Queze_li {
        width: 40vw;
    }
    header > div {
        width: 25%;
    }
    .Popup_main_content {
        width: 25%;
        height: 30%;
        margin-left: 37.5%;
        margin-top: 15%;
    }
    .queze_list {
        grid-template-columns: repeat(4,minmax(100px,400px));
    }
    // make queze
    .drop_img_area{
        height: 50%;
    }
    .main_title, .Main2_sumit_btn {
        height: 4%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 50%;
        margin-left: 25%;
    }
    // 여기 까지
    //---------------------------------------
}


// 노트북
@include laptop {
    //queze------------------------------
    .content_area {
        width: 40vw;
        // background-color: rgb(255, 247, 0);
        margin-left: 30vw;
    }
    .Input_basic {
        width: 70%;
    }
    .Queze_li {
        width: 40vw;
    }
    header > div {
        width: 35%;
    }
    .Popup_main_content {
        width: 30%;
        height: 30%;
        margin-left: 35%;
        margin-top: 20%;
    }
    .queze_list {
        grid-template-columns: repeat(3,minmax(100px,500px));
    }
    // make queze
    .drop_img_area{
        height: 50%;
    }
    .main_title, .Main2_sumit_btn {
        height: 4%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 50%;
        margin-left: 25%;
    }
    // 여기 까지
    //-----------------------------------
}


// 태블릿에서 노트북
@include laptopToTablet {
    .content_area {
        width: 50vw;
        // background-color: rgb(4, 255, 0);
        margin-left: 25vw;

    }
    .queze_list {
        grid-template-columns: repeat(3,minmax(100px,400px));
    }
    .Input_basic {
        width: 70%;
    }
    .Queze_li {
        width: 50vw;
    }
    header > div {
        width: 42%;
    }
    .Popup_main_content {
        width: 30%;
        height: 30%;
        margin-left: 35%;
        margin-top: 25%;
    }   
    // make queze

    .drop_img_area{
        height: 50%;
    }
    .main_title, .Main2_sumit_btn {
        height: 4%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 50%;
        margin-left: 25%;
    }
    // 여기 까지
    //---------------------------------------
}


// 태블릿
@include tablet {
    .content_area {
        width: 50vw;
        margin-left: 25%;
        // background-color: rgb(0, 34, 255);
    }
    .Input_basic {
        width: 70%;
    }
    .Queze_li {
        width: 50vw;
    }
    header > div {
        width: 45%;
    }
    .Popup_main_content {
        width: 30%;
        height: 30%;
        margin-left: 35%;
        margin-top: 25%;
    }
    .queze_list {
        grid-template-columns: repeat(2,minmax(100px,500px));
    }
    // make queze
    .drop_img_area{
        height: 50%;
    }
    .main_title, .Main2_sumit_btn {
        height: 4%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 70%;
        margin-left: 15%;
    }
    // 여기 까지
    //---------------------------------------
}


// 모바일에서 태블릿
@include tabletToMobile  {
    .content_area {
       width: 70%;
       margin-left: 15%;
        // background-color: rgb(179, 0, 255);
    }
    .queze_list {
        grid-template-columns: repeat(2,minmax(100px,380px));
    }
    .plus_queze {/*Main2 */
        // margin-left: 22.5%;
    }
    .Input_basic {
        width: 70%;
    }
    .Queze_li {
        width: 70vw;
    }
    header > div {
        width: 50%;
    }
    .Popup_main_content {
        width: 45%;
        height: 30%;
        margin-left: 27.5%;
        margin-top: 30%;
    }
    // make queze
    .drop_img_area{
        height: 50%;
    }
    .main_title, .Main2_sumit_btn {
        height: 4%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 70%;
        margin-left: 15%;
    }
    // 여기 까지
    /*-----------------header------------------*/
    .header_rogo {
        margin-right: 3%;
    }
    //main---------------------------------

    //---------------------------------------
}


// 모바일
@include mobile  {
    .content_area {
        width: 100vw;
        margin: 0;
        border: 0;
        // margin-top: 5%;
        
    }
    .queze_list {
        grid-template-columns: repeat(1,100%);
    }
    .plus_queze {/*Main2 */
        // margin-left: 7.5%;
    }
    .Input_basic {
        width: 70%;
    }
    .Queze_li {
        //width: 70vw;
        width: 100vw;
        height: 32vh;
    }
    header > div {
        width: 60%;
    }
    // make queze
    .drop_img_area{
        height: 40%;
    }
    .main_title, .Main2_sumit_btn {
        height: 4%;
    }
    .drop_img_area, .Main2_sumit_btn, label, .label {
        width: 70%;
        margin-left: 15%;
    }
    // 여기 까지
    /*-----------------header------------------*/
    .header_rogo {
        margin-right: 3%;
    }
    .Main2_header > button {
        font-size: 12px;
    }
    //--
    .quezeshow_result_root {
        flex-direction: column;
    }
    .quezeshow_result_root > .comment {
        width: 100%;
    }
    .quezeshow_result_root > .content {
        width: 100%;
    }
    //main---------------------------------
//style={{transform : `translateX(${trans_state}%)`}}
    //---------------------------------------
    
}